* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: "Roboto", sans-serif;
}
body {
  background-image: linear-gradient(225deg, #091428, #0a1428);
  width: 100%;
  height: 100vh;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stats-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stats-list {
  /* width: 480px; */
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgb(30, 40, 45);
  color: rgb(240, 230, 210);
  border-radius: 16px;
  border: 2px solid rgb(200, 170, 110);
}
.stats-header {
  font-size: 20px;
  font-weight: 600;
}

.stats-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.stats-header-data {
  display: flex;
  height: 77px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
}
.stats-header-border {
  width: 175px;
  background-color: #c89b3c;
  padding-bottom: 4px;
  margin-top: 24px;
  border-radius: 16px;
}
.stats-body {
  text-align: center;
  padding-top: 16px;
  font-size: 54px;
  font-weight: 700;
}
.input-container {
  margin-top: 16px;
  border: 2px solid rgb(200, 170, 110);
  border-radius: 16px;
  width: 280px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.user-input-container {
  padding: 0;
  display: flex;
  flex-direction: row;
}
#guess-input {
  padding-left: 12px;
  border: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  outline: none;
  width: 100%;
}
.send-button {
  border-radius: 0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.input-list {
  margin-top: 4px;
  width: 260px;
}
.guess-list {
  padding: 8px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  background-color: #3c3c41;
  overflow-y: scroll;
  align-items: center;
  border: 1px solid rgb(200, 170, 110);
  border-radius: 16px;
}

.input-list-img {
  border-radius: 16px;
  border: 1px solid rgb(200, 170, 110);
}

.input-list-img img {
  border-radius: 16px;
  height: 54px;
  width: 54px;
}
.guess-list li:nth-child(odd) {
  background-color: #1e2328;
}

.guess-list li:nth-child(even) {
  background-color: #1e282d;
}
.guess-list li {
  width: 80%;
  color: #a09b8c;
  list-style-type: none;
  display: flex;
  background-color: #1e282d;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
  margin-left: 16px;
  border-radius: 16px;
}
.guess-list li div {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guess-list p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited {
  background-color: #c89b3c;
}

.input-container button img {
  width: 24px;
}
.hidden {
  display: none;
}

.table-container {
}

#myTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(200, 170, 110);
  border-radius: 16px;
}
#myTable thead {
  width: 1036px;
  border: none;
  padding: 4px;
  border-spacing: 8px;
  text-align: center;
  border-collapse: separate;
}
#myTable thead tr {
  width: 100%;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#myTable thead th {
  margin: 4px;
  padding: 8px;
  text-align: center;
  font-weight: 600;
  width: 100px;
  border: none;
}
#myTable tbody {
  border: none;
  border-collapse: separate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-spacing: 8px;
}

#myTable tbody tr {
  background-color: #1e282d;
  margin-top: 8px;
  border-radius: 16px;
}

#myTable tbody tr img {
  border-radius: 16px;
}

#myTable td {
  margin: 4px;
  padding: 8px;
  border: 2px solid rgb(200, 170, 110);
  border-radius: 16px;
}

#myTable td div {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
