* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: linear-gradient(225deg, #091428, #0a1428);
  width: 100%;
  height: 100vh;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-container {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid rgb(200, 170, 110);
  background-color: rgb(30, 40, 45);
  color: rgb(240, 230, 210);
  border-radius: 16px;
  display: flex;
}

.stats-header {
  font-size: 20px;
  font-weight: 600;
}
.stats-header-border {
  border-bottom: 1px solid rgb(200, 170, 110);
  padding-bottom: 4px;
}
.stats-body {
  text-align: center;
  padding-top: 16px;
  font-size: 32px;
  font-weight: 700;
}
.input-container {
  margin-top: 16px;
  border: 2px solid rgb(200, 170, 110);
  border-radius: 16px;
  width: 280px;
  padding: 16px;

  display: flex;
  flex-direction: row;
}

.user-input-container {
  display: flex;
  flex-direction: column;
}
#guess-input {
  padding-left: 12px;
  border: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  outline: none;
  width: 100%;
}
.send-button {
  border-radius: 0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.input-list {
}
.input-list li {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  outline: none;
}

.guess-list {
  margin: 0;
  background-color: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited {
  background-color: #c89b3c;
}

.input-container button img {
  width: 24px;
}
.hidden {
  display: none;
}
